<div class="backdrop"></div>
<ul class="list-group sidebar">
  <li class="list-group-item dropdown pointer"
      [ngClass]="{ show: category.name === currentName }"
      *ngFor="let category of categories"
  >
    <a class="nav-link dropdown-toggle pointer"
       (mouseenter)="hover(category.name)"
       (mouseleave)="mouseLeave()"
    >{{category.name}} </a>
    <ul class="dropdown-menu"
        [ngClass]="{ show: category?.name === currentName }"
        (mouseenter)="hover(category.name)"
        (mouseleave)="mouseLeave()"
    >
      <li class="dropdown-item pointer" *ngFor="let subCategory of category.subCategories">
        <a class="sub-category"  (click)="redirectTo(subCategory._id)">{{subCategory.name}}</a>
      </li>
    </ul>
  </li>
</ul>
