<div class="product-info-tabs">
  <nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <a class="nav-item nav-link pointer description" (click)="toggleTab()">Описание</a>
      <a class="nav-item nav-link pointer feedbacks" (click)="toggleTab()">Отзывы {{product?.feedbacksCount}}</a>
    </div>
  </nav>
  <div class="tab-content">
    <div class="product-description">{{product?.description}}</div>
    <ngx-shop-feedbacks class="add-feedback-block" [feedbacks]="product?.feedbacks" (addFeedbackEvent)="addFeedback('new')"></ngx-shop-feedbacks>
  </div>
</div>
